data/cifar10*
data/cifar-10*
data/mnist*
*.pdf
ckpt*/
linear_experiments/
ckpt_lewis/
output*/
experiments/
parabola/
paper_experiments/
s_shape_experiments/
copies/
paper_s_shape/
figs*/
temp*/
tmp*/
slurm*
screen_script.sh
saved_ckpt/
__pycache__/
resources/
pakshal_08_06_20
